body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77c 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

header li {
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

form {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="email"],
form input[type="password"],
form input[type="text"],
form textarea,
form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form button {
    display: inline-block;
    color: #fff;
    background: #333;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
}

form button:hover {
    background: #77c;
}

header form {
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}