<!DOCTYPE html>
<html>
<head>
    <title>{{ translations['error_title'] }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>{{ translations['error_title'] }}</h1>
            </div>
            <ul>
                <li>
                    <form action="{{ url_for('set_language') }}" method="post">
                        <select name="language" onchange="this.form.submit()">
                            {% for lang_code in all_translations.keys() %}
                            <option value="{{ lang_code }}" {% if current_lang == lang_code %}selected{% endif %}>
                                {{ all_translations[lang_code]['language_name'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </form>
                </li>
            </ul>
        </div>
    </header>
    <div class="container">
        <p>{{ error }}</p>
        <a href="{{ url_for('login') }}">{{ translations['back_to_login'] }}</a>
    </div>
</body>
</html>
