<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>登录</h1>
            </div>
        </div>
    </header>
    <div class="container">
        <form method="post">
            <label for="password">密码：</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">登录</button>
        </form>
    </div>
</body>
</html>
